GEMINI_API_KEY="YOUR_GEMINI_API_KEY_HERE"
TELEGRAM_BOT_TOKEN="YOUR_TELEGRAM_BOT_TOKEN_HERE"

FAMILY_CHAT_ID="FAMILY_CHAT_ID_LIST"
SENIOR_CHAT_ID="SENIOR_CHAT_ID_LIST"

ALLOWED_CHAT_IDS="WHITE_LIST_IDS"
